name: Generate Snake

on:
  # Jalan otomatis tiap jam 12 malam
  schedule:
    - cron: "0 0 * * *" 
  
  # Bisa dijalankan manual
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      
      - uses: Platane/snk@v3
        with:
          # Nama user github kamu
          github_user_name: Olivianfr
          # Output gambar ular (ada versi biasa & dark mode)
          outputs: |
            dist/github-contribution-grid-snake.svg
            dist/github-contribution-grid-snake-dark.svg?palette=github-dark
            
      - uses: crazy-max/ghaction-github-pages@v3.1.0
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
